<% content_for :header do %>
  <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<% end %>

<div class="container">
  <div class="row header-margins">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 app-name">Mogo Chat</div>
      </div>
      <div class="row">
        <div class="col-md-12 app-description">opensource team chat application</div>
      </div>
    </div>
    <div class="col-md-8 nav">
      <ul class="list-inline">
        <li>
          <a href="https://github.com/HashNuke/mogo-chat/blob/master/docs/install-heroku.md">Install on Heroku</a>
        </li>

        <li>
          <a href="http://github.com/HashNuke/mogo-chat">Source code</a>
        </li>

        <li>
          <a href="https://github.com/HashNuke/mogo-chat/blob/master/docs/api.md">API</a>
        </li>

        <li>
          <a href="https://twitter.com/share"
             data-count="none"
             data-size="large"
             data-text="MogoChat - opensource team chat application http://getmogochat.com by @HashNuke"
             class="twitter-share-button" data-lang="en">Tweet</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= image_tag "screenshot.png", style: "width: 100%" %>
    </div>

    <div class="col-md-4 footer">

      <div class="row">
        <div class="col-md-12">
          <h4>Features</h4>
          <ul>          
            <li><b>Works on mobile devices ~!</b></li>
            <li>Easy to install on Heroku</li>
            <li>Multiple rooms</li>
            <li>Sound notifications</li>
            <li>Code snippets</li>
            <li><i>/me</i> status messages</li>
            <li>Comes with an API</li>
            <li>Licensed under the MIT License</li>
            <li>And ofcourse, opensource, so feel free to tinker</li>
          </ul>
        </div>
      </div>

  
      <div class="row">
        <div class="col-md-12">
          <h4>
            Buy me noodles
          </h4>

          <p>
            <a href="https://gum.co/mogochat?wanted=true" class="gumroad-button">Donate</a>
          </p>
          <p>
            <script data-gittip-username="HashNuke" src="//gttp.co/v1.js"></script>
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="row footer">
    <div class="col-md-4">
      <p>
        <h4>Looking for a developer?</h4>
        <b>Akash Manohar</b> (akash@akash.im, <a href="http://github.com/HashNuke">Github</a>, <a href="http://akash.im">Blog</a>)<br/>
        Ruby (and Rails), Elixir, CoffeeScript, Ember.js...
      </p>
    </div>

    <div class="col-md-8">
      <h4>Built using</h4>
      <div class="row">
        <div class="col-md-2">
          <a href="http://elixir-lang.org/"><%= image_tag "elixir-logo.png", class: "elixir-logo" %></a>
        </div>

        <div class="col-md-2">
          <a href="http://emberjs.com/"><%= image_tag "emberjs-logo.png", class: "emberjs-logo" %></a>
        </div>

        <div class="col-md-2">
          <%= image_tag "postgresql-logo.png", class: "postgresql-logo" %> <span class="tool-name">PostgreSQL</span>
        </div>

        <div class="col-md-3 phoenix">
          <a href="https://github.com/phoenixframework/phoenix">Phoenix Framework</a>
        </div>
      </div>
    </div>

  </div>

</div>
