<div class="container">
  <div class="row header-margins">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 app-name">Mogo Chat</div>
      </div>
      <div class="row">
        <div class="col-md-12 app-description">opensource team chat application</div>
      </div>
    </div>
    <div class="col-md-8 nav">.col-md-1</div>
  </div>

  <div class="row">
    <div class="col-md-7">Screenshot</div>
    <div class="col-md-5">Contribution</div>
  </div>
</div>
