@import "bootstrap";

body {
  font-family: 'PT Sans', sans-serif;
}

.app-name {
  color: #E35D5C;
  font-weight: bold;
  font-size: 1.7em;
  text-align: center;
}

.app-description {
  font-size: 1.2em;
  text-align: center;
}

.nav {
  margin-top: 1.5em;
  text-align: center;

  a {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 0.5em;
  }
}

.contribution {
}

.social {
  text-align: center;

  .twitter {
    iframe {
      margin-bottom: -0.6em !important;
    }
  }

  .gittip {
    iframe {
      margin-bottom: -0.35em !important;
    }
  }

  li {
    margin-right: 1em;
    margin-left: 1em;
  }
}

.header-margins {
  margin-top: 0.5em;
}


.section-title {
  border-top: 1px solid #CCC;
  padding-top: 1em;
  color: #E35D5C;
  font-weight: bold;
  text-align: center;
}


.footer {
  margin-top: 1.5em;

  .elixir-logo, .postgresql-logo {
    height: 2em;
  }

  .emberjs-logo {
    height: 3.5em;
  }

  .tool-name { font-size: 1.1em; }

  .phoenix {
    margin-top: 1em;
    font-size: 1.3em;
    white-space: nowrap;
    a {
      font-weight: bold;
      color: #444;
    }
  }

  h4 {
    color: #E35D5C;
    border-bottom: 0.1em solid #E35D5C;
    padding-bottom: 0.5em;
  }
}

h4 {
  color: #E35D5C;
  border-bottom: 0.1em solid #E35D5C;
}
