@import "bootstrap";

.app-name {
  color: #E35D5C;
  font-weight: bold;
  font-size: 2em;
  font-family: 'PT Sans', sans-serif;
}

.app-description {
  font-size: 1.3em;
  font-family: 'PT Sans', sans-serif;
}

.nav {
  margin-top: 1.5em;
}

.header-margins {
  margin-top: 1em;
}