@import "bootstrap";

body {
  font-family: 'PT Sans', sans-serif;
}

.app-name {
  color: #E35D5C;
  font-weight: bold;
  font-size: 2em;
}

.app-description {
  font-size: 1.3em;
}

.nav {
  margin-top: 1.5em;
}

.header-margins {
  margin-top: 0.5em;
}

.contribution {
  background: #FFF9DC;
  border: 0.1em solid #F0B850;
  border-radius: 0.2em;

  .social-buttons {
    margin-top: 1em;
  }

  hr {
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #E35D5C;
    border-color: #E35D5C;
  }

  h3 {
    color: #E35D5C;
  }

  h4 {}
}


.footer {
  margin-top: 1.5em;

  .elixir-logo, .postgresql-logo {
    height: 2em;
  }

  .emberjs-logo {
    height: 3.5em;
  }

  .tool-name { font-size: 1.1em; }

  h4 {
    color: #E35D5C;
    border-bottom: 0.1em solid #E35D5C;
    padding-bottom: 0.5em;
  }
}